.carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23bf9b30%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23bf9b30%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

.carousel-indicators [data-bs-target] {
    background-color: #bf9b30;
    margin-bottom: -2rem;
}

.carousel-item-container {
    display: flex; 
    align-items: center; 
    gap: 1rem; 
    padding: 1rem;
}

.carousel-image-container {
    flex: 1; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.carousel-image-container img {
    max-width: 100%; 
    height: auto;
}

.carousel-text-container {
    flex: 1;
    padding: 1rem;
    margin-right: 5%;
    overflow: auto;
}

.carousel-text-container h3 {
    display: inline;
    margin-right: 10px;
}

.carousel-text-container h6.release-date {
    display: inline;
    opacity: 0.5;
}

.carousel-text-container p.carousel-summary {
    text-align: left;
    opacity: 0.6;
}

.carousel-text-container {
    max-height: 13rem;
    overflow: hidden;
}