h2{
    font-size: xx-large;
    text-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.5), /* Darker shadow for depth */
        0 0 5px rgba(237, 223, 147, 0.9), /* Golden glow effect */
        0 0 10px rgba(196, 170, 54, 0.8), 
        0 0 15px rgba(87, 75, 7, 0.7); /* Multiple layers for stronger effect */
    color: rgb(221, 214, 169);
    padding: 2%;
    
}

div#carousel_main{
  margin-top: 3vh;
  
  box-shadow: inset 0 -4px 6px rgba(139, 128, 68, 0.4), /* Inner shadow for emboss effect */
                0 4px 6px rgba(0, 0, 0, 0.3); /* Outer shadow for depth */
}

#movie_Info_container{
  box-shadow: inset 0 -4px 6px rgba(139, 128, 68, 0.4), /* Inner shadow for emboss effect */
  0 4px 6px rgba(0, 0, 0, 0.3); /* Outer shadow for depth */
  padding: 2%;
}

.carousel-item-custom {
    width: 100%;
  }
  
.img-container img {
  max-width: 100%;
  height: auto; /* Ensures image scales properly */
}
  
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2%;
}

.description-container {
  color: #dfdbbc;           /* Dark text */
  border-radius: 5px;       /* Optional: Round the corners */
}

.release-date {
  display: inline;
  font-size: 0.9em; /* Optional smaller size for the year */
  color: #777;      /* Optional color change */
  margin-left: 5px; /* Optional space between title and year */
}

#movie_detail_box h5{
  padding-bottom: 2%;
}
  