a {
    text-decoration: none; /* Removes the underline */
  }
  
  a:hover {
    text-decoration: none; /* Optional: Removes underline on hover as well */
  }
  
  .main-movieCard{
    border-radius: 15px;
    border: solid 2px;
    width:100%;
  }
  
  .main-movieCard ul{
    padding: 0%;
    list-style-type: none;
    padding-left: 0;
  }

  .main-movieCard li{
    width: 100%;
  }
  
  .movieLiTag{
    display: flex;
    margin: auto;
    padding: 4%;
    border-bottom: solid 2px;
    width: 90%;
  }
  
  .movieLiTag img{
      width: 70px;
      height: 105px;
  }
  
  .movieDetails{
    margin-left: 1rem;
    width: 100%;
  }
  
  .pagination {
      --bs-pagination-hover-bg: none;
      --bs-pagination-hover-border-color: initial;
  }
  .page-change {
    padding: 1rem;
    justify-content: center;
    font-weight: bold;
  } 

  .page-change .page-link{
    padding: 1rem;
  } 