/*

ONLY PUT GLOBAL VARIABLES HERE

*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top right, rgba(0, 0, 0, 1.0), rgba(20, 20, 20, 1.0), rgba(40, 40, 40, 1.0));
  background-attachment: fixed;
}

/* TEXT COLOUR */
* {
  color: #bf9b30 !important;
}

/* IMG ROUNDED CORNERS */
img {
  border-radius: 15px;
}

.main-div {
  padding: 3%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* TITLE FOR ANY CONTAINER */
.div-title {
  width: 100%;
  border-left: solid 5px #FFD700;
  padding-left: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

/* TOAST SETTINGS */
.custom-toast-body {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #f8f9fa !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}